.dashboard-container {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .single-card {
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
            background-color: #fff;
            border: 0;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 6px;
            color: #333;
            width: 100%;
            padding: 20px 20px 10px;
            .card-header {
                padding: 0;
                position: relative;
                text-align: right;
                .card-icon {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    bottom: 0;
                    background: #EDF1F7;
                    border-radius: 6px;
                    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
                    background: linear-gradient(60deg,#ffa726,#fb8c00);
                    i.fa {
                        font-size: 36px;
                        line-height: 56px;
                        width: 56px;
                        height: 56px;
                        text-align: center;
                        color: #fff;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .card-category {
                    color: #999;
                    font-size: 14px;
                }
                .card-title {
                    color: #3c4858;
                }
            }
            .card-footer {
                border-top: 1px solid #eee;
                padding: 10px 0 0;
                margin: 20px 0 0;
                border-radius: 0;
                justify-content: space-between;
                align-items: center;
                a {
                    color: #999 !important;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
}