<accordion class="sidebar" [isAnimated]="true">
      <accordion-group [panelClass]="customClass">
        <p class="btn btn-link heading" accordion-heading type="button">
            Teachers
        </p>

        <ul>
            <li><a href="#">Add New</a></li>
            <li><a href="#">View All</a></li>
        </ul>
      </accordion-group>

      <accordion-group>
        <p class="btn btn-link heading" accordion-heading type="button">
            Students
        </p>

        <ul>
            <li><a href="#">Add New</a></li>
            <li><a href="#">View All</a></li>
        </ul>
      </accordion-group>

      <accordion-group>
        <p class="btn btn-link heading" accordion-heading type="button">
            Fine
        </p>

        <ul>
            <li><a href="#">Add New</a></li>
            <li><a href="#">View Paid</a></li>
            <li><a href="#">View UnPaid</a></li>
        </ul>
      </accordion-group>

      <accordion-group>
        <p class="btn btn-link heading" accordion-heading type="button">
            Fee
        </p>

        <ul>
            <li><a href="#">Add New</a></li>
            <li><a href="#">View Paid</a></li>
            <li><a href="#">View UnPaid</a></li>
        </ul>
      </accordion-group>
</accordion>