<accordion class="sidebar" [isAnimated]="true">
        <accordion-group>
            <p class="btn btn-link heading" accordion-heading type="button" routerLink="/">
                Dashboard
            </p>
        </accordion-group>

        <!-- <accordion-group [panelClass]="customClass">
            <p class="btn btn-link heading" accordion-heading type="button">
                Teachers <i class="fa fa-angle-right"></i>
            </p>

            <ul>
                <li><a routerLink="teachers/add">Add New</a></li>
                <li><a routerLink="teachers">View All</a></li>
                <li><a routerLink="teachers/fine">Fine</a></li>
                <li><a routerLink="teachers/fine">Pay</a></li>
            </ul>
        </accordion-group> -->

        <accordion-group>
            <p class="btn btn-link heading" accordion-heading type="button">
                Students <i class="fa fa-angle-right"></i>
            </p>

            <ul>
                <li><a routerLink="students/add">Add New</a></li>
                <li><a routerLink="students">View All</a></li>
                <!-- <li><a routerLink="students/fine">Fine</a></li> -->
            </ul>
        </accordion-group>

        <accordion-group>
            <p class="btn btn-link heading" accordion-heading type="button">
                Fee <i class="fa fa-angle-right"></i>
            </p>

            <ul>
                <li><a routerLink="fee/pay">Pay Now</a></li>
                <li><a routerLink="fee/register/2021">Fee Register</a></li>
                <li><a routerLink="fee/paid">View Paid</a></li>
                <li><a routerLink="fee/unpaid">View UnPaid</a></li>
            </ul>
        </accordion-group>
</accordion>