<ngx-spinner [name]="spinner_name" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
<div class="form-section">
    <div class="form-heading align-center">
        <h1 class="title">Update Student</h1>
        <p class="sub-title">Add new changes to the form below.</p>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <label class="section-heading">Personal Information</label>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>First Name</label>
                    <input type="text" placeholder="First name" formControlName="first_name" />
        
                    <p 
                        class="has-error" 
                        *ngIf="!form.controls.first_name.valid && form.controls.first_name.valid"
                    >First Name is required</p>
                </div>
        
                <div class="single-form-field">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last name" formControlName="last_name" />
        
                    <p 
                        class="has-error" 
                        *ngIf="!form.controls.last_name.valid && form.controls.last_name.valid"
                    >Last Name is required</p>
                </div>
            </div>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Teacher Id</label>
                    <input type="text" placeholder="Teacher Id" formControlName="teacher_id" />
                </div>
    
                <div class="single-form-field">
                    <label>Email</label>
                    <input type="email" placeholder="Email" formControlName="email" />
                </div>
            </div>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>CNIC</label>
                    <input type="text" placeholder="CNIC" formControlName="cnic" />
                </div>

                <div class="single-form-field">
                    <label>Phone No.</label>
                    <input type="text" placeholder="Phone number" formControlName="phone_number" />
        
                    <p 
                        class="has-error" 
                        *ngIf="!form.controls.phone_number.valid && form.controls.phone_number.valid"
                    >Phone Number is required</p>
                </div>
            </div>
        </div>

        <div>
            <label class="section-heading">Educational Information</label>
            
            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Qualification</label>
                    <input type="text" placeholder="Qualification" formControlName="qualification" />
                </div>
    
                <div class="single-form-field">
                    <label>Experience</label>
                    <input type="text" placeholder="Experience" formControlName="experience" />
                </div>
            </div>
        </div>

        <div>
            <label class="section-heading">Address</label>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Counry</label>
                    <select formControlName="country">
                        <option>Select Value</option>
                        <option value="pakistan">Pakistan</option>
                    </select>
                </div>
                
                <div class="single-form-field">
                    <label>City / Village</label>
                    <input type="text" placeholder="City / Village" formControlName="city" />
        
                    <p 
                        class="has-error" 
                        *ngIf="!form.controls.phone_number.valid && form.controls.phone_number.valid"
                    >Phone Number is required</p>
                </div>
            </div>

            <div class="have-grid">
                <div class="single-form-field">
                    <label>Mohallah</label>
                    <input type="text" placeholder="Mohallah Name" formControlName="mohallah" />
                </div>
            </div>
    
            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Street</label>
                    <input type="text" placeholder="Street" formControlName="street" />
                </div>
                
                <div class="single-form-field">
                    <label>House No.</label>
                    <input type="text" placeholder="House No" formControlName="house_number" />
        
                    <p 
                        class="has-error" 
                        *ngIf="!form.controls.phone_number.valid && form.controls.phone_number.valid"
                    >Phone Number is required</p>
                </div>
            </div>
        </div>
        
        <button
            class="primary-button" 
            [ngClass]="{'disbaled': !form.valid}" 
            [disabled]="!form.valid"
        >Update</button>
    </form>
</div>