.static-page-content {
    display: grid;
    grid-template-rows: 75px 1fr 45px;
    grid-template-columns: 220px 1fr;
    height: 100%;

    app-header, app-sidebar, app-footer {
        background-color: #fff;
        position: relative;
    }

    app-header, app-sidebar {
        box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    }

    app-header {
        grid-column: 1 / 3;
        z-index: 2;
        padding: 0 25px;
    }

    app-sidebar {
        z-index: 1;
        grid-row: 2 / 4;
    }

    .dynamic-page-content {
        padding: 40px;
        overflow: auto;
    }

    app-footer {
        grid-column: 2 / 3;
        padding: 0 25px;
        box-shadow: 0 -0.5px 1rem 0 rgb(44 51 73 / 10%);

        display: grid;
        align-items: center;
        text-align: right;
    }
}