<div class="header-container">
    <div class="logo">
        <span><img src="/assets/images/logo.png" alt="" /></span>
        <span>
            <h2>Pakistan Public School</h2>
            <p>Sharaqpur Sharif - 0343-4091408</p>
        </span>
    </div>
    

    <ul>
        <li><a (click)="logout()">Logout</a></li>
        <li>
            <a class="have-profile-icon">
                <span><img src="/assets/images/profile-pic.png" alt="" /></span>
                {{name}}
            </a>
        </li>
    </ul>
</div>