* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    // color: $text-color;
}
body {
    background-color: $body-bg-color;
}

p, h1, h2, h3 {
    margin: 0;
}
h4.section-heading {
    margin: 0 0 20px;
    font-size: 22px;
}

ul {
    padding: 0;
    li {
        list-style: none;
        a {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.have-grid {
    display: grid;
    grid-gap: 18px;
}
.two-column {
    grid-template-columns: 1fr 1fr;
}
.three-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.align-center {
    text-align: center;
}

.form-section {
    max-width: 520px;
    margin: 0 auto;
    display: grid;
    align-content: center;
    height: 100%;
}

.single-form-field {
    margin: 0 0 20px;
}
label {
    display: block;
    font-size: 14px;
    margin: 0 0 8px;
    font-weight: 600;
}
label.section-heading {
    font-weight: 800;
    font-size: 18px;
    margin: 0 0 12px;
}
.form-section {
    input, select, textarea {
        background-color: $input-bg-color;
        border-radius: 4px;
        height: 48px;
        padding: 0 14px;
        border: 1px solid $border-color;
        width: 100%;
        outline: none;
        font-weight: 600;
        &::placeholder {
            font-size: 14px;
        }
    }
    input[type='file'] {
        background: none;
        padding: 0;
        height: initial;
        border: 0;
    }
    textarea {
        height: 120px;
        padding: 14px;
    }
}
.dynamic-page-content {
    .form-section {
        height: initial;
    }
}
input.ng-touched.ng-invalid {
    border-color: $danger-color;
}
p.has-error {
    color: $danger-color;
    margin: 5px 0 0;
    font-size: 12px;
}
h1.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 12px;
}
p.sub-title {
    margin: 0 0 30px;
}
button {
    background-color: $btn-bg-color;
    border: 1px solid $btn-border-color;
    cursor: pointer;
    color: $light-color;
    font-size: 18px;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    &:hover {
        background-color: $btn-bg-color-hover;
        border-color: $btn-border-color-hover;
    }
}
button.disbaled {
    background: $gray-color;
    border: none;
    cursor: not-allowed;
}
.another-action {
    margin: 35px 0 0;
}
.text-link {
    color: $anchor;
    text-decoration: underline;
}

ag-grid-angular {
    width: 100%; 
    height: calc(100vh - 226px); 
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}