$text-color: #222b45;
$border-color: #e4e9f2;
$input-bg-color: #f7f9fc;
$danger-color: #ff3d71;
$btn-border-color: #36f;
$btn-border-color-hover: #598bff;
$btn-bg-color: #36f;
$btn-bg-color-hover: #598bff;
$light-color: #ffffff;
$anchor: #8f9bb3;
$gray-color: #afadad;
$body-bg-color: #EDF1F7;