<ngx-spinner [name]="spinner_name" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
<div class="form-section">
    <div class="form-heading align-center">
        <h1 class="title">Add Teacher</h1>
        <p class="sub-title">Fill the form below to add new Teacher.</p>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
            <label class="section-heading">Personal Information</label>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>First Name</label>
                    <input type="text" placeholder="First name" formControlName="first_name" />
        
                    <ng-container 
                        *ngIf="
                            form.controls.first_name.invalid && 
                            form.controls.first_name.touched && 
                            form.controls.first_name.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.first_name.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.first_name.errors?.minlength">
                            The minimum length for this field is {{form.controls.first_name.errors.minlength.requiredLength}} characters.
                        </p>

                        <p class="has-error" *ngIf="form.controls.first_name.errors?.maxlength">
                            The maximum length for this field is {{form.controls.first_name.errors.maxlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
        
                <div class="single-form-field">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last name" formControlName="last_name" />
        
                    <ng-container 
                        *ngIf="
                            form.controls.first_name.invalid && 
                            form.controls.first_name.touched && 
                            form.controls.first_name.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.first_name.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.first_name.errors?.minlength">
                            The minimum length for this field is {{form.controls.first_name.errors.minlength.requiredLength}} characters.
                        </p>

                        <p class="has-error" *ngIf="form.controls.first_name.errors?.maxlength">
                            The maximum length for this field is {{form.controls.first_name.errors.maxlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Teacher Id</label>
                    <input type="text" placeholder="Teacher Id" formControlName="teacher_id" />

                    <ng-container 
                        *ngIf="
                            form.controls.teacher_id.invalid && 
                            form.controls.teacher_id.touched && 
                            form.controls.teacher_id.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.teacher_id.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.teacher_id.errors?.minlength">
                            The minimum length for this field is {{form.controls.teacher_id.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
    
                <div class="single-form-field">
                    <label>Email</label>
                    <input type="email" placeholder="Email" formControlName="email" />

                    <ng-container 
                        *ngIf="
                            form.controls.email.invalid && 
                            form.controls.email.touched && 
                            form.controls.email.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.email.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.email.errors?.email">
                            Email address is invalid.
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>CNIC</label>
                    <input type="text" placeholder="CNIC" formControlName="cnic" />

                    <ng-container 
                        *ngIf="
                            form.controls.cnic.invalid && 
                            form.controls.cnic.touched && 
                            form.controls.cnic.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.cnic.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.cnic.errors?.minlength">
                            The minimum length for this field is {{form.controls.cnic.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>

                <div class="single-form-field">
                    <label>Phone No.</label>
                    <input type="text" placeholder="Phone number" formControlName="phone_number" />
        
                    <ng-container 
                        *ngIf="
                            form.controls.phone_number.invalid && 
                            form.controls.phone_number.touched && 
                            form.controls.phone_number.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.phone_number.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.phone_number.errors?.minlength">
                            The minimum length for this field is {{form.controls.phone_number.errors.minlength.requiredLength}} characters.
                        </p>

                        <p class="has-error" *ngIf="form.controls.phone_number.errors?.maxlength">
                            The maximum length for this field is {{form.controls.phone_number.errors.maxlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>

        <div>
            <label class="section-heading">Educational Information</label>
            
            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Qualification</label>
                    <input type="text" placeholder="Qualification" formControlName="qualification" />

                    <ng-container 
                        *ngIf="
                            form.controls.qualification.invalid && 
                            form.controls.qualification.touched && 
                            form.controls.qualification.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.qualification.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.qualification.errors?.minlength">
                            The minimum length for this field is {{form.controls.qualification.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
    
                <div class="single-form-field">
                    <label>Experience</label>
                    <input type="text" placeholder="Experience" formControlName="experience" />

                    <ng-container 
                        *ngIf="
                            form.controls.experience.invalid && 
                            form.controls.experience.touched && 
                            form.controls.experience.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.experience.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.experience.errors?.minlength">
                            The minimum length for this field is {{form.controls.experience.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>

        <div>
            <label class="section-heading">Address</label>

            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Counry</label>
                    <div class="pos-relative custom-select-arrow">
                        <select formControlName="country">
                            <option value="">Select Value</option>
                            <option value="Pakistan">Pakistan</option>
                        </select>

                        <i class="fa fa-angle-down"></i>
                    </div>

                    <ng-container 
                        *ngIf="
                            form.controls.country.invalid && 
                            form.controls.country.touched && 
                            form.controls.country.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.country.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.country.errors?.minlength">
                            The minimum length for this field is {{form.controls.country.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
                
                <div class="single-form-field">
                    <label>City / Village</label>
                    <input type="text" placeholder="City / Village" formControlName="city" />
        
                    <ng-container 
                        *ngIf="
                            form.controls.city.invalid && 
                            form.controls.city.touched && 
                            form.controls.city.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.city.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.city.errors?.minlength">
                            The minimum length for this field is {{form.controls.city.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="have-grid">
                <div class="single-form-field">
                    <label>Mohallah</label>
                    <input type="text" placeholder="Mohallah Name" formControlName="mohallah" />

                    <ng-container 
                        *ngIf="
                            form.controls.mohallah.invalid && 
                            form.controls.mohallah.touched && 
                            form.controls.mohallah.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.mohallah.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.mohallah.errors?.minlength">
                            The minimum length for this field is {{form.controls.mohallah.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>
    
            <div class="have-grid two-column">
                <div class="single-form-field">
                    <label>Street</label>
                    <input type="text" placeholder="Street" formControlName="street" />

                    <ng-container 
                        *ngIf="
                            form.controls.street.invalid && 
                            form.controls.street.touched && 
                            form.controls.street.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.street.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.street.errors?.minlength">
                            The minimum length for this field is {{form.controls.street.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
                
                <div class="single-form-field">
                    <label>House No.</label>
                    <input type="text" placeholder="House No" formControlName="house_number" />
        
                    <ng-container 
                        *ngIf="
                            form.controls.house_number.invalid && 
                            form.controls.house_number.touched && 
                            form.controls.house_number.dirty
                        "
                    >
                        <p class="has-error" *ngIf="form.controls.house_number.errors?.required">
                            This field is required.
                        </p>

                        <p class="has-error" *ngIf="form.controls.house_number.errors?.minlength">
                            The minimum length for this field is {{form.controls.house_number.errors.minlength.requiredLength}} characters.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <button [ngClass]="{'disbaled': !form.valid}" [disabled]="!form.valid">Add</button>
    </form>
</div>