<ngx-spinner [name]="spinner_name" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
<div class="have-grid-heading">
    <h4 class="section-heading">Print Section</h4>
    <div class="btn-list">
        <button
            ngxPrintItem 
            class="primary-button"
            (click)="printItem()"
        >Print</button> 

        <!-- <button
            class="white-btn primary-button" 
            routerLink="/home/students/add"
        >Go Back</button> -->
    </div>
</div>

<div class="print-section-container" id="printFeeDiv">
    <div id="print-section" *ngIf="fee_info"> 
        <div class="page-header">
            <div class="logo">
                <span><img src="/assets/images/logo.png" alt="" /></span>
                <span>
                    <h2>Pakistan Public School</h2>
                    <p>Sharaqpur Sharif - 0343-4091408</p>
                </span>
            </div>
    
            <div class="have-grid date-info">
                <p class="content-row">
                    <span class="content-heading">Date:</span>
                    <span class="content-detail">{{fee_info.date | date:'longDate'}}</span>
                </p>
            </div>
        </div>

        <h4 class="dark-bg">Student Information</h4>

        <div class="print-information">
            <div class="row-data">
                <label>Computer Generated No:</label>
                <p style="text-transform: lowercase;">{{fee_info.computer_number}}</p>
            </div>

            <div class="row-data">
                <label>Roll No:</label>
                <p>{{fee_info.roll_number}}</p>
            </div>

            <div class="row-data">
                <label>Name:</label>
                <p>{{fee_info.name}}</p>
            </div>

            <div class="row-data">
                <label>Class:</label>
                <p style="text-transform: capitalize;">{{fee_info.class}}</p>
            </div>
        </div>

        <h4 class="dark-bg">Fee Information</h4>

        <div class="print-information">
            <div class="row-data">
                <label>Fee Month:</label>
                <p>{{fee_info.month_full | date : 'MMMM/YYYY'}}</p>
            </div>

            <div class="row-data">
                <label>Arrears:</label>
                <p>{{fee_info.arears}}</p>
            </div>

            <div class="row-data">
                <label>Remaining Amount:</label>
                <p>{{fee_info.remaining_amount}}</p>
            </div>

            <div class="row-data">
                <label>Total Fee:</label>
                <p>{{fee_info.amount}}</p>
            </div>
        </div>

            <!-- <p class="content-row">
                <span class="content-heading">Signature:</span>
                <span class="content-detail" style="width: 130px; display: inline-block;"></span>
            </p>
        </div> -->
    </div>
</div>