<div class="form-section">
    <div class="form-heading align-center">
        <h1 class="title">Login</h1>
        <p class="sub-title">Hello! Log in with your email.</p>
    </div>
    
    <form>
        <div class="single-form-field">
            <label>Email</label>
            <input type="email" placeholder="Enter your email" />
        </div>
        
        <div class="single-form-field">
            <label>Password</label>
            <input type="password" placeholder="Enter your password" />
        </div>
        
        <button>Login</button>
    </form>

    <p class="align-center another-action">Don't have an account? <a routerLink="/add-user" class="text-link">Register</a></p>
</div>